#crnuh {text-align: center; #212529;
}
}
#naslov {text-align: center;
}
#podnaslov {text-align: center;
}
#ena {text-align: center; background-color: #000000; color: #ffffff;
}
#dva {text-align: center; background-color: #F5F5F5; color: #000000;
}
#tri {text-align: center; background-color: #F5F5F5; color: #000000;
}
#stiri {text-align: center; background-color: #1E90FF; color: #ffffff;
}
#pet {text-align: center; background-color: #F5F5F5; color: #000000;
}
#sest {text-align: center; background-color: #F5F5F5; color: #000000;
}
#sedem {text-align: center; background-color: #F5F5F5; color: #000000;
}
#osem {text-align: center; background-color: #F5F5F5; color: #000000;
}
